{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Hey, there!</h1>
        <p class="lead">My name is Aaron Bradfield and I am a recent graduate of Ashland University majoring in computer science.</p>
        <hr class="my-4">
        <p>I specialize in web design and programming and my hobbies include photography and playing my guitar.</p>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('about') }} " role="button">View My Resume</a>
    </div>
</div>
{% endblock %}